# Loading Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

We will load the famous dataset called the Titanic dataset in Kaggle. It gives us the information on how many people survived and their information. 

Let $p$ be the proportion of people who survived.

We are testing the two sample test of proportions

$H_0: p= 0.4$\
$H_a: p\leq 0.4$

In [4]:
data=pd.read_csv('train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Let's start the hypothesis

In [46]:
from statsmodels.stats.proportion import proportions_ztest

alpha=0.05

In [37]:
#The rows of the survived
data[data.Survived==1].shape[0]
sample_size=data.shape[0]

In [40]:
n_success=data[data.Survived==1].shape[0]
print(n_success)

342

In [41]:
p_0=0.4

In [42]:
stat,p_value=proportions_ztest(count=n_success,nobs=sample_size,value=p_0,alternative='smaller')

In [49]:
p_value

0.16060408506128937

In [50]:
stat

-0.9919781789467331

In [52]:
if p_value> alpha:
    print('We fail to reject the null hypothesis with p-value:%0.3f' %p_value)
else:
    print('We reject the null hypothesis with p-value: %0.3f'%p_value)

We fail to reject the null hypothesis with p-value:0.161